<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta content="width=device-width,initial-scale=1" name="viewport" />

        <title>RAMP Config Editor</title>

        <!-- Load stylesheet -->
        <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v5_0_2/cdts/cdts-styles.css" />

        <!-- Load/activate closure template scripts -->
        <script
            src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v5_0_2/cdts/compiled/wet-en.js"
            data-cdts-setup='{"cdnEnv": "prod"}'
        ></script>
      <script type="module" crossorigin src="./assets/chunk-BQCxAhux-B1s75bQu.js"></script>
      <script type="module" crossorigin src="./assets/typedArrayUtil-DYSyCOD_-DIvTpH0Q.js"></script>
      <script type="module" crossorigin src="./assets/Error-D4B15biX-BEtbr5nu.js"></script>
      <script type="module" crossorigin src="./assets/promiseUtils-iMjixmb8-C5rBwu4m.js"></script>
      <script type="module" crossorigin src="./assets/ObservableBase-DclNbbKq-DsptM_8E.js"></script>
      <script type="module" crossorigin src="./assets/MapUtils-B9HELEkm-CKmgnWTW.js"></script>
      <script type="module" crossorigin src="./assets/jsonMap-BjeZlH__-BU33pzEI.js"></script>
      <script type="module" crossorigin src="./assets/tracking-UKPO_ia5-Dnz3LKcV.js"></script>
      <script type="module" crossorigin src="./assets/decorators-DrsflXnM-CxMMmWrS.js"></script>
      <script type="module" crossorigin src="./assets/PooledArray-CT_jxZnS-h2CPQa5P.js"></script>
      <script type="module" crossorigin src="./assets/nextTick-BnUlnj-w-B6BVpXNQ.js"></script>
      <script type="module" crossorigin src="./assets/time-CZDdoUVM-CojUetU1.js"></script>
      <script type="module" crossorigin src="./assets/scheduling-BbPSSh0_-D_Dn8v3H.js"></script>
      <script type="module" crossorigin src="./assets/Accessor-DmWPY8Em-D-JKlV8M.js"></script>
      <script type="module" crossorigin src="./assets/colorUtils-DDC8SjYu-CeAb_3Vk.js"></script>
      <script type="module" crossorigin src="./assets/common-DgIStbYe-C66oucM-.js"></script>
      <script type="module" crossorigin src="./assets/vec3f64-CG5ySZkG-By_GZpBl.js"></script>
      <script type="module" crossorigin src="./assets/mat4-D0YTl6eA-WzEyXVd2.js"></script>
      <script type="module" crossorigin src="./assets/screenUtils-TBnwIy4h-BaoM-dFW.js"></script>
      <script type="module" crossorigin src="./assets/utils-dgfwkd4z-AYryjjuI.js"></script>
      <script type="module" crossorigin src="./assets/parser-Bszb8nRj-BF1t68fF.js"></script>
      <script type="module" crossorigin src="./assets/jsonUtils-BNbo6SO0-JBTjT63i.js"></script>
      <script type="module" crossorigin src="./assets/layerContainerType-D294HPLX-Bq_dtgmU.js"></script>
      <script type="module" crossorigin src="./assets/tslib.es6-D23imAM7-C50a1nFc.js"></script>
      <script type="module" crossorigin src="./assets/BlendLayer-IeV6pRwY-CQvA0MsT.js"></script>
      <script type="module" crossorigin src="./assets/JSONSupport-ByxLHsmG-DRpKt0n9.js"></script>
      <script type="module" crossorigin src="./assets/ClipRect-Lr_z5tI7-CxGX7wux.js"></script>
      <script type="module" crossorigin src="./assets/Clonable-BiQl5AjE-y9x-fgul.js"></script>
      <script type="module" crossorigin src="./assets/Evented-d0z2kftI-DMvQGI_c.js"></script>
      <script type="module" crossorigin src="./assets/SimpleObservable-24Kf2Mjo-E-CpieCH.js"></script>
      <script type="module" crossorigin src="./assets/preload-helper-CP_edrrL.js"></script>
      <script type="module" crossorigin src="./assets/request-p0GURVA_-jqXRe9V3.js"></script>
      <script type="module" crossorigin src="./assets/Collection-BMt-UvY_-Z5tdwKXl.js"></script>
      <script type="module" crossorigin src="./assets/mathUtils-DUZju9LU-DxcR6qLd.js"></script>
      <script type="module" crossorigin src="./assets/Color-BYgQs9GV-DZcxMLJz.js"></script>
      <script type="module" crossorigin src="./assets/vec3-D0JSMCWt-Cr-29W6p.js"></script>
      <script type="module" crossorigin src="./assets/LineSnappingHint-DQAM0wts-C11bTbRk.js"></script>
      <script type="module" crossorigin src="./assets/curveUtils-C9O3Q6kr-D6y_udlL.js"></script>
      <script type="module" crossorigin src="./assets/CurveSnappingHint-Cl1UL_OO-C6UpkHLl.js"></script>
      <script type="module" crossorigin src="./assets/mat4f64-B3SVWMa--MixLv9i_.js"></script>
      <script type="module" crossorigin src="./assets/DoubleArray-CBKJpGQF-DjHXKNQC.js"></script>
      <script type="module" crossorigin src="./assets/SnappingCandidate-CKR0XYFU-Bi41Unu2.js"></script>
      <script type="module" crossorigin src="./assets/Ellipsoid-CC8uHNvY-CIu9pb1C.js"></script>
      <script type="module" crossorigin src="./assets/spatialReferenceUtils-CcNf_RbW-BF5lG11I.js"></script>
      <script type="module" crossorigin src="./assets/units-DLNH_JKq-D4e6VTqK.js"></script>
      <script type="module" crossorigin src="./assets/SpatialReference-15iqTCpv-CM_VkZ-4.js"></script>
      <script type="module" crossorigin src="./assets/Point-DNzxbY-O-7JOCpT4Z.js"></script>
      <script type="module" crossorigin src="./assets/Extent-BU3umNgS-BSs7MEO7.js"></script>
      <script type="module" crossorigin src="./assets/aaBoundingRect-C8I8Mcue-DyjTfWPa.js"></script>
      <script type="module" crossorigin src="./assets/mat3-BUJb5WJM-Chp8G3u9.js"></script>
      <script type="module" crossorigin src="./assets/mat3f64-H1VyAOlk-s1ofs6D0.js"></script>
      <script type="module" crossorigin src="./assets/vec2-aaJlEBBD-C7u7JJ_1.js"></script>
      <script type="module" crossorigin src="./assets/curveExtent-DH-3ILYk-BpUQ88hb.js"></script>
      <script type="module" crossorigin src="./assets/closestPointOnCurve-DusEHIoK-DZOpsz2q.js"></script>
      <script type="module" crossorigin src="./assets/geodesicConstants-DyOpEyMf-B8BrDi9u.js"></script>
      <script type="module" crossorigin src="./assets/Polyline--6CcFQUD-Cn9eqxxc.js"></script>
      <script type="module" crossorigin src="./assets/coordsUtils-DWmCQ-Nl-CrBaa2Cu.js"></script>
      <script type="module" crossorigin src="./assets/Polygon-BJsfBO2r-DybwWlsF.js"></script>
      <script type="module" crossorigin src="./assets/geodesicUtils-DIZywWBr-BZo24Jz6.js"></script>
      <script type="module" crossorigin src="./assets/vec2f64-D8dbcrKD-BWzTcbaA.js"></script>
      <script type="module" crossorigin src="./assets/geometry2dUtils-CAdRHM5I-CvCjhlja.js"></script>
      <script type="module" crossorigin src="./assets/mathUtils-DWZSG0Kv-BbQ5Jd66.js"></script>
      <script type="module" crossorigin src="./assets/dehydratedPoint-4Kht1gvJ-DIrZ1Xei.js"></script>
      <script type="module" crossorigin src="./assets/memoize-BzVNAtJh-DvcysyC_.js"></script>
      <script type="module" crossorigin src="./assets/lengthUtils-1g22zPLa-BxDZOVUe.js"></script>
      <script type="module" crossorigin src="./assets/unitConversionUtils-HwZIXM1h-DSLEqogL.js"></script>
      <script type="module" crossorigin src="./assets/elevationInfoUtils-DgsmsiYA-DfQw0CSC.js"></script>
      <script type="module" crossorigin src="./assets/normalizedPoint-Cb3m5jzJ-DIkMFYYF.js"></script>
      <script type="module" crossorigin src="./assets/quatf64-BVIu7a1q-DWkKd-oY.js"></script>
      <script type="module" crossorigin src="./assets/vec4f64-DFGee9an-Ds_BsC0f.js"></script>
      <script type="module" crossorigin src="./assets/vectorStacks-ZQ-KnKq1-BoXZhjnh.js"></script>
      <script type="module" crossorigin src="./assets/plane-DQtjs8tj-Dp2g5t8g.js"></script>
      <script type="module" crossorigin src="./assets/ObjectStack-Dpo-0vSe-DbOxKSCn.js"></script>
      <script type="module" crossorigin src="./assets/ray-BrDilICl-B2QijzRs.js"></script>
      <script type="module" crossorigin src="./assets/vec3-IMxs4PQg-C1_cFA4B.js"></script>
      <script type="module" crossorigin src="./assets/sphere-DmrFGhPd-CrraXTsD.js"></script>
      <script type="module" crossorigin src="./assets/vec4-DqQz8Ac_-D0vIUFPN.js"></script>
      <script type="module" crossorigin src="./assets/constraints-D6kgNKBQ-DVNQBhtR.js"></script>
      <script type="module" crossorigin src="./assets/EdgeSnappingCandidate-DSvWp60w-DrqIJY1X.js"></script>
      <script type="module" crossorigin src="./assets/DrapedEdgeSnappingCandidate-BlwDKgGL-D2mo-c6J.js"></script>
      <script type="module" crossorigin src="./assets/fieldType-D7qFLPJl-DbNCCvNJ.js"></script>
      <script type="module" crossorigin src="./assets/Field-DW85r8G--Dx_Q2O0e.js"></script>
      <script type="module" crossorigin src="./assets/Multipoint-DX9EcdMQ-BV5YiSwl.js"></script>
      <script type="module" crossorigin src="./assets/typeUtils-hgZRX-si-DLPF2fus.js"></script>
      <script type="module" crossorigin src="./assets/DynamicDataLayer-jJjnE68c-DvDOtg6j.js"></script>
      <script type="module" crossorigin src="./assets/UnknownTimeZone-Dh9RjgJ8-BZwpXkZE.js"></script>
      <script type="module" crossorigin src="./assets/guards-DZkenTVo-C6Rq4khe.js"></script>
      <script type="module" crossorigin src="./assets/timeZoneUtils-CJXtBugu-CGFMvp5v.js"></script>
      <script type="module" crossorigin src="./assets/sql-Blh_4SRj-DpKDpob3.js"></script>
      <script type="module" crossorigin src="./assets/fieldUtils-RnhL3aOO-C3i8GeUX.js"></script>
      <script type="module" crossorigin src="./assets/ElevationInfo-CZ_8z-Vr-DQHueD8B.js"></script>
      <script type="module" crossorigin src="./assets/GeographicTransformation-_YWx1sS--BFRV1nJw.js"></script>
      <script type="module" crossorigin src="./assets/createFeatureId-CV8Z7cXi-Dzi0Ujcb.js"></script>
      <script type="module" crossorigin src="./assets/Identifiable-B6KtJ7S6-DThd5pHb.js"></script>
      <script type="module" crossorigin src="./assets/locale-CTIK8lrI-DZrx24YP.js"></script>
      <script type="module" crossorigin src="./assets/date-BfYiac4b-CKLe9_O6.js"></script>
      <script type="module" crossorigin src="./assets/fieldFormatUtils-BI3ep84M-92GmcgIP.js"></script>
      <script type="module" crossorigin src="./assets/getPopupProvider-Bv6hs-lB-DIXVWrIz.js"></script>
      <script type="module" crossorigin src="./assets/graphicInstanceUtils-Bdw0Vcgi-BQ2SoT7p.js"></script>
      <script type="module" crossorigin src="./assets/jsonTypeUtils-DkQOCfAl-CNJG1HQR.js"></script>
      <script type="module" crossorigin src="./assets/jsonUtils-DWIl_2cm-B3ia_SLl.js"></script>
      <script type="module" crossorigin src="./assets/reactiveUtils-D64gZXLa-CxfQ8a0f.js"></script>
      <script type="module" crossorigin src="./assets/SimpleMarkerSymbol-BiuyflCf-FWuy36HF.js"></script>
      <script type="module" crossorigin src="./assets/PictureMarkerSymbol-BoxzEJ4H-fh0o0itd.js"></script>
      <script type="module" crossorigin src="./assets/Promise-B1bokmkv-eK2oMjDY.js"></script>
      <script type="module" crossorigin src="./assets/Loadable-BsEoDX6O-BHkmwc7U.js"></script>
      <script type="module" crossorigin src="./assets/apiKeyUtils-Xcf7QnLu-B1g6k8n8.js"></script>
      <script type="module" crossorigin src="./assets/Portal-CC3TeaMr-cIXiMLs-.js"></script>
      <script type="module" crossorigin src="./assets/textUtils-Df1Cgfih-BvflfudN.js"></script>
      <script type="module" crossorigin src="./assets/TextSymbol-D4rubgrz-DNHCO9s2.js"></script>
      <script type="module" crossorigin src="./assets/collectionUtils-rNzkQTgS-DvQJFMmb.js"></script>
      <script type="module" crossorigin src="./assets/opacityUtils-Can5Sew_-Bx_0aAfi.js"></script>
      <script type="module" crossorigin src="./assets/aaBoundingBox-BzfGqF8x-BjyWLRdp.js"></script>
      <script type="module" crossorigin src="./assets/symbolLayerUtils3D-BAhNXB2s-DtjqxF2q.js"></script>
      <script type="module" crossorigin src="./assets/typeUtils-DwC4W4lT-CENO9a3G.js"></script>
      <script type="module" crossorigin src="./assets/Graphic-DoGSadwB-BH6XU53g.js"></script>
      <script type="module" crossorigin src="./assets/GraphicsCollection-qvQSnhQZ-BhPMtyWA.js"></script>
      <script type="module" crossorigin src="./assets/timeUtils--4On5qF6-C36zJAqM.js"></script>
      <script type="module" crossorigin src="./assets/TimeExtent-C-y6oJyE-unEDN_lf.js"></script>
      <script type="module" crossorigin src="./assets/Layer-i7soZauH-yD0dwAzI.js"></script>
      <script type="module" crossorigin src="./assets/ScaleRangeLayer-DvyLWMvZ-E-t4dCYr.js"></script>
      <script type="module" crossorigin src="./assets/GraphicsLayer-B3rFulEC-D3MUHv0S.js"></script>
      <script type="module" crossorigin src="./assets/HighlightDefaults-BZadl2MY-C0D9YPA-.js"></script>
      <script type="module" crossorigin src="./assets/PropertiesPool-BFUXAPEs-D_J07ldS.js"></script>
      <script type="module" crossorigin src="./assets/Queue-DaJPOdOI-BGC-fiA9.js"></script>
      <script type="module" crossorigin src="./assets/signal-CtDV3QrY-AapG6LY2.js"></script>
      <script type="module" crossorigin src="./assets/InputManager-CQhi2515-ChOUYE5P.js"></script>
      <script type="module" crossorigin src="./assets/IntersectionSnappingHint-CVmAOEr_-Crxtkc1Q.js"></script>
      <script type="module" crossorigin src="./assets/IntersectionSnappingCandidate-fZ15d9fZ-B6EqAL3B.js"></script>
      <script type="module" crossorigin src="./assets/assets-DdAwDUUe-B7qOCYTN.js"></script>
      <script type="module" crossorigin src="./assets/messages-BfAk2F2f-DuOkhhlH.js"></script>
      <script type="module" crossorigin src="./assets/number-N5gHq-nB-DhBtJgJM.js"></script>
      <script type="module" crossorigin src="./assets/intl-17UkjKBW-BlIWZdUB.js"></script>
      <script type="module" crossorigin src="./assets/sanitizerUtils-CBtpcjao-DAoVVv4b.js"></script>
      <script type="module" crossorigin src="./assets/projector-DuJ6m3pL-t_Hmn9st.js"></script>
      <script type="module" crossorigin src="./assets/runtime-Cm-NGAfC-DS67k-dY.js"></script>
      <script type="module" crossorigin src="./assets/uuid-KPvt78tX-D8bL9sBM.js"></script>
      <script type="module" crossorigin src="./assets/widget-C7GEGUUZ-DcLgLrId.js"></script>
      <script type="module" crossorigin src="./assets/Widget-CkmaL4oU-Dmoet-iH.js"></script>
      <script type="module" crossorigin src="./assets/LabeledSwitch-CcV4MqUb-wqPUEnZ4.js"></script>
      <script type="module" crossorigin src="./assets/LineSnappingCandidate-MJ6zeYTv-DCERju7U.js"></script>
      <script type="module" crossorigin src="./assets/workers-Cyd0pPLV-BBUZHqRU.js"></script>
      <script type="module" crossorigin src="./assets/workers-DI2_owiG-DPTrtWYO.js"></script>
      <script type="module" crossorigin src="./assets/WorkerHandle-CX8ynPZu-Ddo4IOub.js"></script>
      <script type="module" crossorigin src="./assets/MeasurementWorkerHandle-BeLdRQYv-584RC-kT.js"></script>
      <script type="module" crossorigin src="./assets/ParallelSnappingHint-R6gTRmhT-CYgOnGX4.js"></script>
      <script type="module" crossorigin src="./assets/PointSnappingHint-BLJ2HWci-BWjxjOnb.js"></script>
      <script type="module" crossorigin src="./assets/QuantizationParameters-CH3eHvZq-CF0w3YgI.js"></script>
      <script type="module" crossorigin src="./assets/StatisticDefinition-wAPNi1A8-BDHVLsG4.js"></script>
      <script type="module" crossorigin src="./assets/Query-DWzGESLT-BxqB3hqO.js"></script>
      <script type="module" crossorigin src="./assets/RightAngleSnappingHint-iqr21-iV-BjlIQut9.js"></script>
      <script type="module" crossorigin src="./assets/RightAngleTriangleSnappingCandidate-BKs0AtUW-BCHzs-jK.js"></script>
      <script type="module" crossorigin src="./assets/SketchLabelOptions-5bPHaaJE-_BMdcLRQ.js"></script>
      <script type="module" crossorigin src="./assets/SketchOptions-CDWjMpeE-DMdkiUHB.js"></script>
      <script type="module" crossorigin src="./assets/UpdatingHandles-BSt1wCma-BDvrabdo.js"></script>
      <script type="module" crossorigin src="./assets/VertexSnappingCandidate-DLzaNMBk-B8kpQOMF.js"></script>
      <script type="module" crossorigin src="./assets/asyncUtils-CmPd8Lxk-Ct0J4hNV.js"></script>
      <script type="module" crossorigin src="./assets/earcut-CUPBLdFg-CY0eCkh9.js"></script>
      <script type="module" crossorigin src="./assets/projectBuffer-Bz69TIlC-CY8zBMIU.js"></script>
      <script type="module" crossorigin src="./assets/spatialReferenceEllipsoidUtils-BXZRdajJ-Czr6L2sJ.js"></script>
      <script type="module" crossorigin src="./assets/projectionUtils-CIi8UWXI-CS7xq6Lm.js"></script>
      <script type="module" crossorigin src="./assets/projectPointToVector-BX9IWQlR-CWUaLCjW.js"></script>
      <script type="module" crossorigin src="./assets/projectVectorToVector-DMsA4iBf-31NW68uE.js"></script>
      <script type="module" crossorigin src="./assets/quantity-B2YAh_eO-D6CODufs.js"></script>
      <script type="module" crossorigin src="./assets/euclideanLengthMeasurementUtils-BcfxLNi_-CqFy6RbN.js"></script>
      <script type="module" crossorigin src="./assets/geodesicMeasurementUtils-BU7ByWJQ-DxSePsY8.js"></script>
      <script type="module" crossorigin src="./assets/geodeticCurveType-C4lBjwVn-BTzgW11u.js"></script>
      <script type="module" crossorigin src="./assets/pe-BXapbMQD-BuDP_SxI.js"></script>
      <script type="module" crossorigin src="./assets/geodeticLengthOperator-BYSmMqeI-BFdLGM0o.js"></script>
      <script type="module" crossorigin src="./assets/lineSegment-CvndgxPA-DIhAf63g.js"></script>
      <script type="module" crossorigin src="./assets/triangle-Ce-VNcE3-D1Z45p1F.js"></script>
      <script type="module" crossorigin src="./assets/automaticLengthMeasurementUtils-C7tHfQjM-Bayj__uD.js"></script>
      <script type="module" crossorigin src="./assets/hitTestSelectUtils-dOBe8Rru-1E2dWhIu.js"></script>
      <script type="module" crossorigin src="./assets/isSupportedObject-B1jGq3dr-D-iTRkYv.js"></script>
      <script type="module" crossorigin src="./assets/keybindings-Dph0G2rf-BR4w-GOc.js"></script>
      <script type="module" crossorigin src="./assets/layerUtils-s4mV9BDd-PZUvWT-r.js"></script>
      <script type="module" crossorigin src="./assets/editableLayers-CN1Gqv2K-PlypvYzo.js"></script>
      <script type="module" crossorigin src="./assets/layerUtils-BnvOTOoQ-BjIH9HIJ.js"></script>
      <script type="module" crossorigin src="./assets/screenUtils-BUx5ne9m-CD1j_O6x.js"></script>
      <script type="module" crossorigin src="./assets/Version-DTObi1_L-DwRi8iZB.js"></script>
      <script type="module" crossorigin src="./assets/utils-BCR6tC9g-W92AZBs9.js"></script>
      <script type="module" crossorigin src="./assets/snappingUtils-BP2k2IYu-CUvZ-X3C.js"></script>
      <script type="module" crossorigin src="./assets/viewUtils-C24G-mIh-DwYDu1z_.js"></script>
      <script type="module" crossorigin src="./assets/viewUtils-Dv3bW2s0-DPlgF7AT.js"></script>
      <script type="module" crossorigin src="./assets/SketchViewModel-7phyJMtG-C4OAotsK.js"></script>
      <script type="module" crossorigin src="./assets/vue.esm-bundler-CrSnNV4r-BdiQc3-y.js"></script>
      <script type="module" crossorigin src="./assets/pinia-DtK95xy3-DVxr_yMp.js"></script>
      <script type="module" crossorigin src="./assets/config-OYJtgsiQ-mnsh_xYu.js"></script>
      <script type="module" crossorigin src="./assets/defaultsJSON-CRD0Q47g-CIDD2tQo.js"></script>
      <script type="module" crossorigin src="./assets/defaults-DJqxXCpV-BIH_jYc5.js"></script>
      <script type="module" crossorigin src="./assets/drapedUtils-ezYd9Usl-KiIlsGBA.js"></script>
      <script type="module" crossorigin src="./assets/jsonUtils-C5FBDm3F-CvhZrtea.js"></script>
      <script type="module" crossorigin src="./assets/layerViewUtils-CVyPtJaQ-DRy_88Fd.js"></script>
      <script type="module" crossorigin src="./assets/lib-BW_Bt3Rt-CcvHPVby.js"></script>
      <script type="module" crossorigin src="./assets/_plugin-vue_export-helper-DjzNVFIQ-Bt944kDv.js"></script>
      <script type="module" crossorigin src="./assets/dom-DGvQWTyN-DG8u7fd2.js"></script>
      <script type="module" crossorigin src="./assets/controllers-D3RtgB-P-CzMlOJPp.js"></script>
      <script type="module" crossorigin src="./assets/debounce-UPMvVyUs-D8a5PNVD.js"></script>
      <script type="module" crossorigin src="./assets/directionModeIcons-DZj3tcdI-9gKDucUA.js"></script>
      <script type="module" crossorigin src="./assets/globalCss-CiwWsZz7-DaP1sXcG.js"></script>
      <script type="module" crossorigin src="./assets/keyboard-Ch7SG0at-BTp0c3ql.js"></script>
      <script type="module" crossorigin src="./assets/selectionUtils-LMkJ-xm_-C534Pc5B.js"></script>
      <script type="module" crossorigin src="./assets/store-CIt6pHDg-Cy-fDY_m.js"></script>
      <script type="module" crossorigin src="./assets/throttle-BVe2wltk-CShJvKiI.js"></script>
      <script type="module" crossorigin src="./assets/vue-i18n-COaIJ4zJ-DBZqpJRi.js"></script>
      <script type="module" crossorigin src="./assets/main-Doxvwhkx-EPM-yS5V.js"></script>
      <script type="module" crossorigin src="./assets/main-D7SFY8QE.js"></script>
      <link rel="stylesheet" crossorigin href="./assets/main-CroUxf7n.css">
    </head>
    <body>
        <!-- template top and no-script fallback -->
        <div id="def-top"></div>

        <div id="wb-cont">
            <div id="app" class="container"></div>
        </div>

        <!-- template footer and no-script fallback -->
        <div id="def-footer"></div>

        <script type="text/javascript">
            //window.startEditor()

            var defTop = document.getElementById('def-top');
            defTop.outerHTML = wet.builder.top({
                lngLinks: [
                    {
                        lang: 'fr',
                        href: window.location.href.replace('ca-en.html', 'ca-fr.html'),
                        text: 'Français'
                    }
                ]
            });

            document.querySelectorAll('.wb-sl').forEach(function (skipLink) {
                skipLink.setAttribute('href', window.location.href.split(/#[^\/]/)[0] + '#' + skipLink.href.split('#')[1]);
            });
            var interval = setInterval(function () {
                var links = document.querySelectorAll('.wb-sl');
                if (links.length === 3) {
                    clearInterval(interval);
                    links[2].setAttribute('href', window.location.href.split(/#[^\/]/)[0] + '?' + links[2].href.split('?')[1]);
                }
            }, 200);
        </script>

        <script>
            var defFooter = document.getElementById('def-footer');
            defFooter.outerHTML = wet.builder.footer({});
        </script>


        <style>
            body {
                margin: 0;
            }
            #wb-cont {
                display: flex;
                flex-direction: column;
                padding: 8px;
                height: calc(100vh - 32px);
                gap: 16px;
            }
            #app {
                height:100%;
            }
        </style>
    </body>
</html>
<!-- START OF SmartSource Data Collector TAG -->
<!-- Copyright (c) 1996-2021 Webtrends Inc.  All rights reserved. -->
<!-- Version: 9.4.0 -->
<script src="scripts/webtrends.js" type="text/javascript"></script>
<!-- ----------------------------------------------------------------------------------- -->
<!-- Warning: The two script blocks below must remain inline. Moving them to an external -->
<!-- JavaScript include file can cause serious problems with cross-domain tracking.      -->
<!-- ----------------------------------------------------------------------------------- -->
<script type="text/javascript">
    //<![CDATA[
    var _tag = new WebTrends();
    _tag.dcsGetId();
    //]]>
</script>
<script type="text/javascript">
    //<![CDATA[
    _tag.dcsCustom = function () {
        // Add custom parameters here.
        //_tag.DCSext.param_name=param_value;
    };
    _tag.dcsCollect();
    //]]>
</script>
<noscript>
    <div>
        <img
            alt="DCSIMG"
            id="DCSIMG"
            width="1"
            height="1"
            src="https://sdc.ncr.ec.gc.ca/dcs2kf7dq10000kzg8kpqz5gp_3q4i/njs.gif?dcsuri=/nojavascript&amp;WT.js=No&amp;WT.tv=9.4.0&amp;dcssip=www.environmental-maps.canada.ca"
        />
    </div>
</noscript>
<!-- END OF SmartSource Data Collector TAG -->
