<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>RAMP4 Config Editor</title>
      <script type="module" crossorigin src="./assets/main-D6nGT0Lu.js"></script>
      <link rel="stylesheet" crossorigin href="./assets/main-CY605dVI.css">
    </head>
    <body>
        <div id="container">
            <div id="app"></div>
        </div>
        <style>
            body {
                margin: 0;
            }
            #container {
                display: flex;
                flex-direction: column;
                padding: 8px;
                height: calc(100vh - 16px);
                gap: 16px;
            }
            #app {
                flex-grow: 1;
                overflow-y: scroll;
            }
        </style>
    </body>
</html>
